<!-- INCLUDE overall_header.html -->

<form id="create_umil" method="post" action="{U_ACTION}">

<h2>{L_TITLE}</h2>

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
	<p>Create a simple UMIF (Unified Modification Install File) for use with the UMI Library. Please note that this GUI UMIF-creator is not meant to be a one-size fits all. It is meant as a basic quick-script generator. For finer-gained control you may edit or create the file using a text editor, please consult the UMIL documentation or view the UMIF example files for further information.</p>
	<h3>MOD Installation File General Information</h3>
	<fieldset>
	<!-- IF ERROR --><p class="error">{ERROR}</p><!-- ENDIF -->
	<!-- BEGIN info -->
		<dl>
			<dt><label for="{info.NAME}">{info.LANG}:</label>
			<br /><span>{info.LANG_EXPLAIN}</span></dt>
			<dd><input type="text" name="{info.NAME}" id="{info.NAME}" value="{info.VALUE}" class="inputbox" /></dd>
		</dl>
	<!-- END info -->
	</fieldset>

	<span class="corners-bottom"><span></span></span></div>
</div>

<h3>Add Permissions</h3>
<div class="forabg">
	<div class="inner"><span class="corners-top"><span></span></span>
	<ul class="topiclist">
		<li class="header">
			<dl class="icon">
				<dt class="header">&nbsp;</dt>
				<dd class="header">Permission Name</dd>
				<dd class="header left">Global Permission</dd>
			</dl>
		</li>
	</ul>
	<ul class="topiclist forums">
		<li class="row">
		<!-- BEGIN permissions -->
			<dl class="icon">
				<dt class="inputfield">{permissions.ITEM}</dt>
				<dd class="inputfield">
					<input type="text" name="permissions[{permissions.S_ROW_COUNT}][name]" id="perm_{permissions.S_ROW_COUNT}_name" value="{permissions.VALUE}" class="inputbox" />
				</dd>
				<dd class="posts">
					<input type="checkbox" class="radio" name="permissions[{permissions.S_ROW_COUNT}][global]" value="1"{permissions.GLOBAL} />
				</dd>
			</dl>
		<!-- END permissions -->
		</li>
	</ul>
	<span class="corners-bottom"><span></span></span></div>
</div>
<fieldset class="display-options">
	<label>Add additional fields: <select name="permission_fields" id="permission_fields">{S_ADD_FIELDS_OPTIONS}</select> <input type="submit" name="add_fields" value="Add Fields" class="button2" /></label>
</fieldset>

<h3>Set Permissions</h3>
<p>Set added permissions to existing role or Groups. Note that the GUEST Group is not assigned a role so permissions should be added directly to this group instead of being added via a role.</p>
<div class="forabg">
	<div class="inner"><span class="corners-top"><span></span></span>
	<ul class="topiclist">
		<li class="header">
			<dl class="icon">
				<dt class="header">&nbsp;</dt>
				<dd class="header">Permission Name</dd>
				<dd class="header">Role or Group</dd>
			</dl>
		</li>
	</ul>
	<ul class="topiclist forums">
		<li class="row">
		<!-- BEGIN set_perms -->
			<dl class="icon">
				<dt class="inputfield">{set_perms.ITEM}</dt>
				<dd class="inputfield">
					<input type="text" name="set_perms[{set_perms.S_ROW_COUNT}][name]" id="set_perms_{set_perms.S_ROW_COUNT}_name" value="{set_perms.NAME}" class="inputbox" />
				</dd>
				<dd class="inputfield">
					<input type="text" name="set_perms[{set_perms.S_ROW_COUNT}][role]" id="set_perms_{set_perms.S_ROW_COUNT}_role" value="{set_perms.ROLE}" class="inputbox" />
				</dd>
			</dl>
		<!-- END set_perms -->
		</li>
	</ul>
	<span class="corners-bottom"><span></span></span></div>
</div>
<fieldset class="display-options">
	<label>Add additional fields: <select name="set_perm_fields" id="set_perm_fields">{S_ADD_FIELDS_OPTIONS}</select> <input type="submit" name="add_fields" value="Add Fields" class="button2" /></label>
</fieldset>

<h3>Add Configs</h3>
<div class="forabg">
	<div class="inner"><span class="corners-top"><span></span></span>
	<ul class="topiclist">
		<li class="header">
			<dl class="icon">
				<dt class="header">&nbsp;</dt>
				<dd class="header">Config Name</dd>
				<dd class="header">Config Value</dd>
				<dd class="header left">Dynamic (is_dynamic)</dd>
			</dl>
		</li>
	</ul>
	<ul class="topiclist forums">
		<li class="row">
		<!-- BEGIN configs -->
			<dl class="icon">
				<dt class="inputfield">{configs.ITEM}</dt>
				<dd class="inputfield">
					<input type="text" name="configs[{configs.S_ROW_COUNT}][name]" id="conf_{configs.S_ROW_COUNT}_name" value="{configs.NAME}" class="inputbox" />
				</dd>
				<dd class="inputfield">
					<input type="text" name="configs[{configs.S_ROW_COUNT}][value]" id="conf_{configs.S_ROW_COUNT}_val" value="{configs.VALUE}" class="inputbox" />
				</dd>
				<dd class="posts">
					<input type="checkbox" class="radio" name="configs[{configs.S_ROW_COUNT}][dynamic]" value="1"{permissions.DYNAMIC} />
				</dd>
			</dl>
		<!-- END configs -->
		</li>
	</ul>
	<span class="corners-bottom"><span></span></span></div>
</div>
<fieldset class="display-options">
	<label>Add additional fields: <select name="config_fields" id="config_fields">{S_ADD_FIELDS_OPTIONS}</select> <input type="submit" name="add_fields" value="Add Fields" class="button2" /></label>
</fieldset>

<h3>Add Columns</h3>
<p>Add a table column for an existing table.</p>
<div class="forabg">
	<div class="inner"><span class="corners-top"><span></span></span>
	<ul class="topiclist">
		<li class="header">
			<dl class="icon">
				<dt class="header">&nbsp;</dt>
				<dd class="header medium">Table Constant Name</dd>
				<dd class="header medium">Column Name</dd>
				<dd class="header">Column Type</dd>
				<dd class="header short">Default Value</dd>
				<dd class="header short">Auto Increment</dd>
			</dl>
		</li>
	</ul>
	<ul class="topiclist forums">
		<li class="row">
		<!-- BEGIN columns -->
			<dl class="icon">
				<dt class="inputfield">{columns.ITEM}</dt>
				<dd class="inputfield medium">
					<input type="text" name="columns[{columns.S_ROW_COUNT}][table]" id="columns_{columns.S_ROW_COUNT}_table" value="{columns.TABLE}" class="inputbox" />
				</dd>
				<dd class="inputfield medium">
					<input type="text" name="columns[{columns.S_ROW_COUNT}][name]" id="columns_{columns.S_ROW_COUNT}_name" value="{columns.NAME}" class="inputbox" />
				</dd>
				<dd class="inputfield">
					<select name="columns[{columns.S_ROW_COUNT}][type]" id="columns_{columns.S_ROW_COUNT}_type">{columns.TYPE_OPTIONS}</select>
					<select name="columns[{columns.S_ROW_COUNT}][num]" id="columns_{columns.S_ROW_COUNT}_num">{columns.NUM_OPTIONS}</select>
				</dd>
				<dd class="inputfield short">
					<input type="text" name="columns[{columns.S_ROW_COUNT}][default]" id="columns_{columns.S_ROW_COUNT}_default" value="{columns.DEFAULT}" class="inputbox" />
				</dd>
				<dd class="posts">
					<input type="checkbox" class="radio" name="columns[{columns.S_ROW_COUNT}][option]" value="1"{permissions.OPTION} />
				</dd>
			</dl>
		<!-- END columns -->
		</li>
	</ul>
	<span class="corners-bottom"><span></span></span></div>
</div>
<fieldset class="display-options">
	<label>Add additional fields: <select name="module_fields" id="module_fields">{S_ADD_FIELDS_OPTIONS}</select> <input type="submit" name="add_fields" value="Add Fields" class="button2" /></label>
</fieldset>

<h3>Add Modules</h3>
<p>Module Add will read the module info file from the basename for permissions and modes.</p>
<div class="forabg">
	<div class="inner"><span class="corners-top"><span></span></span>
	<ul class="topiclist">
		<li class="header">
			<dl class="icon">
				<dt class="header">&nbsp;</dt>
				<dd class="header">Module Class</dd>
				<dd class="header">Module Parent</dd>
				<dd class="header">Module Basename</dd>
			</dl>
		</li>
	</ul>
	<ul class="topiclist forums">
		<li class="row">
		<!-- BEGIN modules -->
			<dl class="icon">
				<dt class="inputfield">{modules.ITEM}</dt>
				<dd class="inputfield">
					<input type="text" name="modules[{modules.S_ROW_COUNT}][class]" id="modules_{modules.S_ROW_COUNT}_class" value="{modules.CLASS}" class="inputbox" />
				</dd>
					<dd class="inputfield">
						<input type="text" name="modules[{modules.S_ROW_COUNT}][parent]" id="modules_{modules.S_ROW_COUNT}_parent" value="{modules.PARENT}" class="inputbox" />
					</dd>
					<dd class="inputfield">
						<input type="text" name="modules[{modules.S_ROW_COUNT}][basename]" id="modules_{modules.S_ROW_COUNT}_basename" value="{modules.BASENAME}" class="inputbox" />
					</dd>
			</dl>
		<!-- END modules -->
		</li>
	</ul>
	<span class="corners-bottom"><span></span></span></div>
</div>
<fieldset class="display-options">
	<label>Add additional fields: <select name="module_fields" id="module_fields">{S_ADD_FIELDS_OPTIONS}</select> <input type="submit" name="add_fields" value="Add Fields" class="button2" /></label>
</fieldset>

<h3>Add Modules</h3>
<p>Module Add will read the module info file from the basename for permissions and modes.</p>
<div class="forabg">
	<div class="inner"><span class="corners-top"><span></span></span>
	<ul class="topiclist">
		<li class="header">
			<dl class="icon">
				<dt class="header">&nbsp;</dt>
				<dd class="header">Module Class</dd>
				<dd class="header">Module Parent</dd>
				<dd class="header">Module Basename</dd>
			</dl>
		</li>
	</ul>
	<ul class="topiclist forums">
		<li class="row">
		<!-- BEGIN modules -->
			<dl class="icon">
				<dt class="inputfield">{modules.ITEM}</dt>
				<dd class="inputfield">
					<input type="text" name="modules[{modules.S_ROW_COUNT}][class]" id="modules_{set_perms.S_ROW_COUNT}_class" value="{modules.CLASS}" class="inputbox" />
				</dd>
					<dd class="inputfield">
						<input type="text" name="modules[{modules.S_ROW_COUNT}][parent]" id="modules_{set_perms.S_ROW_COUNT}_parent" value="{modules.PARENT}" class="inputbox" />
					</dd>
					<dd class="inputfield">
						<input type="text" name="modules[{modules.S_ROW_COUNT}][basename]" id="modules_{set_perms.S_ROW_COUNT}_basename" value="{modules.BASENAME}" class="inputbox" />
					</dd>
			</dl>
		<!-- END modules -->
		</li>
	</ul>
	<span class="corners-bottom"><span></span></span></div>
</div>
<fieldset class="display-options">
	<label>Add additional fields: <select name="module_fields" id="module_fields">{S_ADD_FIELDS_OPTIONS}</select> <input type="submit" name="add_fields" value="Add Fields" class="button2" /></label>
</fieldset>
<fieldset class="submit-buttons">
	{S_HIDDEN_FIELDS}<input type="reset" value="{L_RESET}" name="reset" class="button2" />&nbsp; 
	<input type="submit" name="submit" value="{L_SUBMIT}" class="button1" />
	{S_FORM_TOKEN}
</fieldset>
</form>

<!-- INCLUDE overall_footer.html -->